header.header
    .header__top
        .wrapper
            a(href="tel:+73832030303").phone
                span
                    img(src="./images/icon/phone.svg", alt="phone")
                span +7 (383) 203-03-03
            a(href="#").header__btn Записаться на прием
            a(href="#").header__blind
                img(src="./images/icon/btn.svg", alt="blind")
    .header__bottom.wrapper
        .hamburger
            .hamburger__wrap
                span
            p Меню
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
        .search
            img(src="./images/icon/search.svg", alt="search")
        .header__menu
            .header__menu_wrap
                ul
                    li.has-sub__1
                        a(href="#")
                            span Отделения
                            <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.483269 16.0167C-0.16109 15.3724 -0.16109 14.3276 0.483269 13.6833L5.91657 8.25L0.483269 2.81673C-0.16109 2.17236 -0.16109 1.12764 0.483269 0.483268C1.12764 -0.161089 2.17236 -0.161089 2.81673 0.483268L9.41672 7.08327C10.061 7.72764 10.061 8.77239 9.41672 9.41671L2.81673 16.0167C2.17236 16.661 1.12764 16.661 0.483269 16.0167Z" fill="#005064"/>
                            </svg>
                        ul
                            li
                                a(href="#") О центре
                            li
                                a(href="#") Лицензии
                            li
                                a(href="#") Вакансии
                            li
                                a(href="#") Информация
                    li
                        a(href="#")
                            span Услуги и цены
                    li.has-sub__1
                        a(href="#")
                            span Пациенту
                            <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.483269 16.0167C-0.16109 15.3724 -0.16109 14.3276 0.483269 13.6833L5.91657 8.25L0.483269 2.81673C-0.16109 2.17236 -0.16109 1.12764 0.483269 0.483268C1.12764 -0.161089 2.17236 -0.161089 2.81673 0.483268L9.41672 7.08327C10.061 7.72764 10.061 8.77239 9.41672 9.41671L2.81673 16.0167C2.17236 16.661 1.12764 16.661 0.483269 16.0167Z" fill="#005064"/>
                            </svg>
                        ul
                            li
                                a(href="#") Пациенту
                            li
                                a(href="#") Пациенту
                            li
                                a(href="#") Пациенту
                    li
                        a(href="#")
                            span Врачи
                    li
                        a(href="#")
                            span Контакты
                a(href="#").header__menu_btn Записаться на прием
.open-menu
section.info
    .wrapper
        .info__text
            h1 Инновационный центр здоровья «LifeBenefit & Reafan»
            p В «LifeBenefit» Вы поправите здоровье с помощью комплексных программ восстановительной медицины, включающих физиотерапию, рефлексотерапию, медицинский фитнес, массаж, косметологию.
            p В «LifeBenefit» Вы поправите здоровье с помощью комплексных программ восстановительной медицины, включающих физиотерапию, рефлексотерапию, медицинский фитнес, массаж, косметологию.
            a(href="#") Подробнее
        .info__slider
            .info__slider_wrap
                .info__slide
                    img(src="./images/decor/big-slider.png", alt="slider")
                .info__slide
                    img(src="./images/decor/big-slider.png", alt="slider")
section.titles.wrapper
    .titles__wrap
        .titles__block
            span LifeBenefit
        .titles__block.center
            img(src="./images/icon/webcam.svg", alt="webcam")
            span Онлайн-консультация
        .titles__block
            span Reafan
section.about.wrapper
    h2 Инновационный центр здоровья «LifeBenefit & Reafan»
    .about__wrap
        .about__text
            h4 Клиентский сервис
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit suspendisse porttitor arcu, tristique molestie praesent amet, eu. Semper lectus mauris mi felis sed libero risus in. Nibh lectus tortor a sapien adipiscing amet, risus, orci. Orci nulla et rhoncus, duis praesent ullamcorper eget. Metus id fermentum non tristique vehicula. 
            p Placerat purus tristique lectus et nisl, elit. Venenatis eu, tellus sagittis massa urna ipsum urna. Est pharetra at turpis aliquam pretium pellentesque quis. Dignissim proin tellus duis tellus sit bibendum. 
        .about__video.paused
            video(poster="./images/decor/video.jpg", controls)
                source(src="" type="video/webm")
section.service.wrapper
    a(href="#").service__item
        img(src="./images/icon/Hydrotherapy.svg", alt="hydrotherapy")
        span Услуги
    a(href="#").service__item
        img(src="./images/icon/medical-history.svg", alt="medical-history")
        span Программы лечения
    a(href="#").service__item
        img(src="./images/icon/calendar.svg", alt="calendar")
        span Программы восстановления здоровья
    a(href="#").service__item
        img(src="./images/icon/video-calling.svg", alt="video-calling")
        span Онлайн консультации
    a(href="#").service__item
        img(src="./images/icon/approving.svg", alt="approving")
        span Визовый осмотр
    a(href="#").service__item
        img(src="./images/icon/microscope.svg", alt="microscope")
        span Клинические исследования
    a(href="#").service__item
        img(src="./images/icon/testing.svg", alt="testing")
        span Клинические анализы
    a(href="#").service__item
        img(src="./images/icon/healthcare.svg", alt="healthcare")
        span Аптека
section.customer.wrapper
    h2 Клиентам
    .customer__wrap
        a(href="#")
            span Вы к нам впервые
        a(href="#")
            span Продолжение лечения
        a(href="#")
            span Пациентам с полисом ДМС
section.news.wrapper
    h2 Новости
    .news__item
        .news__info
            span 29.10.2020
            a(href="#") Заголовок новости длинный в две или более строки
            p Exercitation sit consectetur ut laboris exercitation qui Lorem duis eiusmod velit non proident. Pariatur dolor irure deserunt qui cillum consequat enim culpa. Ipsum ut magna id nisi eiusmod laborum quis. Do incididunt eiusmod officia do laboris do do quis eu eu occaecat nulla ex nisi. Ad eu duis et esse sit elit dolor nisi.
        .news__image
            img(src="./images/decor/news-1.jpg", alt="news")
    .news__item
        .news__info
            span 29.10.2020
            a(href="#") Заголовок новости длинный в две или более строки
            p Exercitation sit consectetur ut laboris exercitation qui Lorem duis eiusmod velit non proident. Pariatur dolor irure deserunt qui cillum consequat enim culpa. Ipsum ut magna id nisi eiusmod laborum quis. Do incididunt eiusmod officia do laboris do do quis eu eu occaecat nulla ex nisi. Ad eu duis et esse sit elit dolor nisi.
        .news__image
            img(src="./images/decor/news-2.jpg", alt="news")
    .news__item
        .news__info
            span 29.10.2020
            a(href="#") Заголовок новости длинный в две или более строки
            p Exercitation sit consectetur ut laboris exercitation qui Lorem duis eiusmod velit non proident. Pariatur dolor irure deserunt qui cillum consequat enim culpa. Ipsum ut magna id nisi eiusmod laborum quis. Do incididunt eiusmod officia do laboris do do quis eu eu occaecat nulla ex nisi. Ad eu duis et esse sit elit dolor nisi.
        .news__image
            img(src="./images/decor/news-3.jpg", alt="news")
    a(href="#").news__all Все новости
section.employees.wrapper
    h2 Вам помогут
    .employees__wrap
        .employees__item
            .employees__image
                img(src="./images/decor/employees-1.jpg", alt="employees")
            .employees__text
                h5 Константинов Константин Константинович
                p Гинеколог, Гинеколог – Эндокринолог, врач УЗД
                .employees__block
                    p Пн, Ср, Пт
                    p Отзывы: 
                        span 14
            a(href="#") Записаться
        .employees__item
            .employees__image
                img(src="./images/decor/employees-2.jpg", alt="employees")
            .employees__text
                h5 Верещагина Софья Иларионовна
                p Гастроэнтеролог
                .employees__block
                    p Пн, Ср, Пт
                    p Отзывы: 
                        span 14
            a(href="#") Записаться
        .employees__item
            .employees__image
                img(src="./images/decor/employees-3.jpg", alt="employees")
            .employees__text
                h5 Хлопонин Юрий Артурович
                p Терапевт
                .employees__block
                    p Пн, Ср, Пт
                    p Отзывы: 
                        span 14
            a(href="#") Записаться
        .employees__item
            .employees__image
                img(src="./images/decor/employees-4.jpg", alt="employees")
            .employees__text
                h5 Воронова Кира Ивановна
                p Невролог, к.м.н., врач высшей категории
                .employees__block
                    p Пн, Ср, Пт
                    p Отзывы: 
                        span 14
            a(href="#") Записаться
        .employees__item
            .employees__image
                img(src="./images/decor/employees-5.jpg", alt="employees")
            .employees__text
                h5 Багров Богдан Венедиктович
                p Дерматолог - Венеролог
                .employees__block
                    p Пн, Ср, Пт
                    p Отзывы: 
                        span 14
            a(href="#") Записаться
        .employees__item
            .employees__image
                img(src="./images/decor/employees-6.jpg", alt="employees")
            .employees__text
                h5 Ростовцева Алина Никифоровна
                p Уролог
                .employees__block
                    p Пн, Ср, Пт
                    p Отзывы: 
                        span 14
            a(href="#") Записаться
    a(href="#").employees__all Все специалисты
footer.footer
    .footer__question
        .wrapper
            p У вас еще остались вопросы? Мы с радостью ответим на них или предоставим необходимую информацию
            a(href="#") Задать вопрос
    .footer__block
        .wrapper
            .footer__info
                .footer__col
                    a(href="./").logo
                        img(src="./images/icon/logo.svg", alt="logo")
                    a(href="#")
                        img(src="./images/icon/med.jpg", alt="med")
                    p Вся информация, включая цены, предоставлена для ознакомления и не является публичной офертой (ст. 435 ГК РФ, cт. 437 ГК РФ)
                .footer__col
                    h4 Ссылки
                    ul
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Отзывы
                        li
                            a(href="#") Лицензии на медицинскую деятельность
                        li
                            a(href="#") Вакансии
                        li
                            a(href="#") Правовая информация
                .footer__col
                    h4 Контакты
                    p 630099, Новосибирск, ул. Ядринцевская, 14
                    p Будни с 8:00 до 20:00, Сб, Вс с 9:00 до 14:00
                    p тел/факс. 
                        a(href="tel:+73832030303") +7 (383) 2-03-03-03
                    a(href="mailto:medcenter@reafan.ru") medcenter@reafan.ru
                    .footer__tel
                        a(href="tel:+73833835556") +7 (383) 383-55-56
                        span телефон экстренной службы
            .footer__copyright
                p © 2009-2019 ООО «Реафан» Медицинский клинико-диагностический центр «Реафан»
    .footer__slider.wrapper
        .footer__slider_wrap
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-1.jpg", alt="slide")
                    p Министерство здравоохранения Новосибирской области
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-2.jpg", alt="slide")
                    p Донорский светофор для стационаров
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-3.jpg", alt="slide")
                    p Госуслуги
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-1.jpg", alt="slide")
                    p Министерство здравоохранения Новосибирской области
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-2.jpg", alt="slide")
                    p Донорский светофор для стационаров
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-3.jpg", alt="slide")
                    p Госуслуги
        

        