header.header
    .header__top
        .wrapper
            a(href="tel:+73832030303").phone
                span
                    img(src="./images/icon/phone.svg", alt="phone")
                span +7 (383) 203-03-03
            a(href="#").header__btn Записаться на прием
            a(href="#").header__blind
                img(src="./images/icon/btn.svg", alt="blind")
    .header__bottom.wrapper
        .hamburger
            .hamburger__wrap
                span
            p Меню
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
        .search
            img(src="./images/icon/search.svg", alt="search")
        .header__menu
            .header__menu_wrap
                ul
                    li.has-sub__1
                        a(href="#")
                            span Отделения
                            <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.483269 16.0167C-0.16109 15.3724 -0.16109 14.3276 0.483269 13.6833L5.91657 8.25L0.483269 2.81673C-0.16109 2.17236 -0.16109 1.12764 0.483269 0.483268C1.12764 -0.161089 2.17236 -0.161089 2.81673 0.483268L9.41672 7.08327C10.061 7.72764 10.061 8.77239 9.41672 9.41671L2.81673 16.0167C2.17236 16.661 1.12764 16.661 0.483269 16.0167Z" fill="#005064"/>
                            </svg>
                        ul
                            li
                                a(href="#") О центре
                            li
                                a(href="#") Лицензии
                            li
                                a(href="#") Вакансии
                            li
                                a(href="#") Информация
                    li
                        a(href="#")
                            span Услуги и цены
                    li.has-sub__1
                        a(href="#")
                            span Пациенту
                            <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.483269 16.0167C-0.16109 15.3724 -0.16109 14.3276 0.483269 13.6833L5.91657 8.25L0.483269 2.81673C-0.16109 2.17236 -0.16109 1.12764 0.483269 0.483268C1.12764 -0.161089 2.17236 -0.161089 2.81673 0.483268L9.41672 7.08327C10.061 7.72764 10.061 8.77239 9.41672 9.41671L2.81673 16.0167C2.17236 16.661 1.12764 16.661 0.483269 16.0167Z" fill="#005064"/>
                            </svg>
                        ul
                            li
                                a(href="#") Пациенту
                            li
                                a(href="#") Пациенту
                            li
                                a(href="#") Пациенту
                    li
                        a(href="#")
                            span Врачи
                    li
                        a(href="#")
                            span Контакты
                a(href="#").header__menu_btn Записаться на прием
.open-menu
section.breadcrumbs
    .wrapper
        a(href="./") Главная
        img(src="./images/icon/bread.svg", alt="breadcrumbs")
        a(href="#").active Вакансии
section.work
    .title
        .wrapper
            h1 Вакансии
            a(href="#0") Отправить резюме
    .form-content
        .wrapper
            h3 Отправить резюме
            form(action="#").form__wrap
                .input
                    .input__col
                        label Ваше имя*
                        input(type="text")
                    .input__col
                        label Ваш телефон*
                        input(type="text")
                    .input__col
                        label Ваш E-mail
                        input(type="text")
                    .input__col
                        label Желаемая должность*
                        input(type="text")
                .textarea
                    label Дополнительная информация
                    textarea(name="text", cols="30", rows="10")
                input(type="checkbox", name="check")#check
                label(for="check") Нажимая “Отправить”, я даю согласие на обработку своих 
                    a(href="#") персональных данных 
                .form__btn
                    .form__file
                        input(type="file", name="file", data-multiple-caption="{count} files selected").inputfile#file
                        label(for="file")
                            <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.5101 5.22222L5.72475 12.1739C4.92004 12.9983 4.92004 14.335 5.72475 15.1594C6.52947 15.9839 7.83421 15.9839 8.63887 15.1594L15.2474 8.20779C16.8569 6.5589 16.8569 3.88554 15.2474 2.23665C13.638 0.587782 11.0287 0.587782 9.41923 2.23665L2.81062 9.18836C0.396461 11.6616 0.396461 15.6717 2.81062 18.145C5.22476 20.6183 9.13888 20.6183 11.553 18.145L18 11.5556" stroke="#005064" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            span Прикрепить файл
                    input(type="submit", value="Отправить")
    .work__wrap.wrapper
        .work__item
            h3 М/сестра общего профиля с владением в/в манипуляций
            p Доход:  договорная
            p Образование:  высшее медицинское
        .work__item
            h3 Врач эндокринолог
            p Доход:  договорная
            p Образование:  высшее медицинское
        .work__item
            h3 Врач оториноларинголог
            p Доход:  договорная
            p Образование:  высшее медицинское
        .work__item
            h3 Врач нефролог
            p Доход:  договорная
            p Образование:  высшее медицинское
footer.footer
    .footer__question
        .wrapper
            p У вас еще остались вопросы? Мы с радостью ответим на них или предоставим необходимую информацию
            a(href="#") Задать вопрос
    .footer__block
        .wrapper
            .footer__info
                .footer__col
                    a(href="./").logo
                        img(src="./images/icon/logo.svg", alt="logo")
                    a(href="#")
                        img(src="./images/icon/med.jpg", alt="med")
                    p Вся информация, включая цены, предоставлена для ознакомления и не является публичной офертой (ст. 435 ГК РФ, cт. 437 ГК РФ)
                .footer__col
                    h4 Ссылки
                    ul
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Отзывы
                        li
                            a(href="#") Лицензии на медицинскую деятельность
                        li
                            a(href="#") Вакансии
                        li
                            a(href="#") Правовая информация
                .footer__col
                    h4 Контакты
                    p 630099, Новосибирск, ул. Ядринцевская, 14
                    p Будни с 8:00 до 20:00, Сб, Вс с 9:00 до 14:00
                    p тел/факс. 
                        a(href="tel:+73832030303") +7 (383) 2-03-03-03
                    a(href="mailto:medcenter@reafan.ru") medcenter@reafan.ru
                    .footer__tel
                        a(href="tel:+73833835556") +7 (383) 383-55-56
                        span телефон экстренной службы
            .footer__copyright
                p © 2009-2019 ООО «Реафан» Медицинский клинико-диагностический центр «Реафан»
    .footer__slider.wrapper
        .footer__slider_wrap
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-1.jpg", alt="slide")
                    p Министерство здравоохранения Новосибирской области
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-2.jpg", alt="slide")
                    p Донорский светофор для стационаров
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-3.jpg", alt="slide")
                    p Госуслуги
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-1.jpg", alt="slide")
                    p Министерство здравоохранения Новосибирской области
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-2.jpg", alt="slide")
                    p Донорский светофор для стационаров
            .footer__slide
                .footer__slide_wrap
                    img(src="./images/decor/slide-3.jpg", alt="slide")
                    p Госуслуги
        

        
                
                
        